django
djangorestframework
django-cors-headers
python-dotenv
dj-rest-auth
dj-rest-auth[with_social]
django-allauth
djangorestframework-simplejwt
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos